{% extends "polls/base.html" %}

{% block content %}
<row centered>
    <column cols="6">
        <h2>Q{{ question.id }}. {{ question.question_text }}</h2>

        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

        <form action="{% url 'polls:vote' question.id %}" method="post">
            {% csrf_token %}
            <section id = "question-box">
                {% for choice in question.choice_set.all %}
                <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
                <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />
                {% endfor %}
            </section>
            <section>
            <input class="btn" type="submit" value="Vote" />
            </section>
        </form>
    </column>
</row>
{% endblock %}