{% extends "polls/base.html" %}
{% load staticfiles %}

{% block content %}
<div class="col-xs-12 col-sm-6 col-md-8">
		<h1>About me</h1>
		<p>Hi! My name is Andrea. I was born and raised in Brazil, but I currently live in Honolulu, HI. In between my time in Brazil and Hawaii, I have also lived in London, Chicago, and Milwaukee.</p>
		<br>
		<p>In December of 2014, I graduated from <a href="https://manoa.hawaii.edu/">the University of Hawai'i at Manoa</a> with a Bachelor of Science in <a href="http://www.ics.hawaii.edu/">Computer Science</a>. I currently work as Software Developer for a local company. I love what I do, and I am very thankful I get to build cool things every day.
		</p>
		<br>
		<br>
		<h1>My Proudest Moments</h1>
		<ol>
				<li>Spending two years in London by myself while pursuing my dream of learning to speak English.</li>
				<li>Becoming a United States Citizen.</li>
				<li>Spending over a decade FAR away from home. Don't get me wrong, I do miss home.</li>
		</ol>
</div>

<div class="col-xs-6 col-md-4">
		<div class="pic-grid">
				<img src="{% static 'polls/images/profile_pic.JPG' %}" width="140px" height="140px" alt="..." class="img-rounded">
				<img src="{% static 'polls/images/DSC_3680.JPG' %}" width="140px" height="140px" class="img-rounded">
		</div>	
		<div class="pic-grid">
				<img src="{% static 'polls/images/DSC_3373.JPG' %}" width="140px" height="140px" class="img-rounded">
				<img src="{% static 'polls/images/diamond_head.JPG' %}" width="140px" height="140px" alt="..." class="img-rounded">
		</div>
		<div class="pic-grid">
				<img src="{% static 'polls/images/DSC_3706.JPG' %}" width="140px" height="140px" alt="..." class="img-rounded">
				<img src="{% static 'polls/images/big_ben.JPG' %}" width="140px" height="140px" alt="..." class="img-rounded">
		</div>
</div>
{% endblock %}