li a {
	color: #BDFEDB;
}

h1 a {
    color: #FCA205;
    font-family: 'Life Savers';
    margin-bottom: none;
}

h1, h2, h3, h4 {
    font-family: 'Life Savers';
}

body {
    background: white url("images/grey-background.png") no-repeat right bottom;
}

#question-box {
	padding-top: 10px;
	padding-bottom: 20px; 
}

<!--#page-title {
	padding: 25px;
	font-family: 'Life Savers';
	font-size: 50px;
	color: #41BA86;
	background-color: #454444;
	border-bottom: #DEDEDE solid 1px;
}-->

#logo {
	padding-left: 377px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
  max-width: 72px; 
  max-height: 72px;
	background-color: #454444;
	border-bottom: #DEDEDE solid 1px;
}

#logo-row {
	margin-bottom: 0;
	padding-bottom: 0;
	border-bottom: 0px;
	height: 82px;
}

#menu-row {
	background-color: #EAF2D9;
	border: #DEDEDE groove 1px; 
	padding-top: 20px;
}

.page-header {
    margin-top: 0;
    margin-bottom: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #41BA86;
    font-size: 36pt;
    text-decoration: none;
}

.navbar-inverse {
    padding-top: 10px;
    padding-bottom: 3px;
}

.navbar-brand {
  background: url(images/world-logo.png) left / contain no-repeat;
  width: 80px;
  height: 50px;
  padding-top: 0; 
}
